---
import dayjs from 'dayjs';
import utc from 'dayjs/plugin/utc';
import timezone from 'dayjs/plugin/timezone';
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../config';
import { getBlogs, getBlogDetail } from "../../library/microcms";

dayjs.locale('ja');
dayjs.extend(utc);
dayjs.extend(timezone);

// 生成する記事のIDを全て取得
export async function getStaticPaths() {
  const response = await getBlogs({ fields: ["id"] });
  return response.contents.map((content: any) => ({
    params: {
      postId: content.id,
    },
  }));
}

//記事の詳細情報を取得
const { postId } = Astro.params;
const post = await getBlogDetail(postId as string);
---

<!DOCTYPE html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<div>
        <div class="post">
          <h2 class="post-title">
            {dayjs(post.date).tz('Asia/Tokyo').format('YYYY.MM.DD ddd.')}
          </h2>
          <div set:html={post.content} class="entry-content" />
        </div>
			</div>
		</main>
		<Footer />
	</body>
</html>

<style lang="scss" is:global>
  body{
    margin:0 auto !important;
  }
	.post{
		margin-bottom: 2.8em;
		padding-bottom:2.5em;
	}
	.post-title{
		font-size:1.25em;
		text-decoration: none;
    margin-bottom: .4em;
    --tw-text-opacity: 1;
		color: rgb(59 130 246 / var(--tw-text-opacity));
	}
	.entry-content{
		line-height: 1.7em;
		font-family: 'Noto Sans JP', sans-serif;

		figure{
			margin-top:1.5em;
			margin-bottom:1.5em;
		}

    p{
      margin-bottom: 1.3em;

      a{
        text-decoration: underline;
        &:hover{
          text-decoration: none;
        }
      }
    }
	}
</style>