---
import HeaderLink from './HeaderLink.astro';
// import { SITE_TITLE } from '../config';
---

<header>
	<h2>
		<a href="/"><span>(almost)</span> daily corleonis</a>
	</h2>
	<!--
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
		<HeaderLink href="https://twitter.com/corleonis" target="_blank">Twitter</HeaderLink>
	</nav>
	-->
</header>
<style lang="scss">
	header {
		margin: 1em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
		font-size:1.6em !important;
		
		a{
			color:#000;

			span{
				font-family: 'Reenie Beanie', cursive;
				font-size:1.2em;
				padding-right:0.1em;
			}

			&:hover{
				span{
					--tw-text-opacity: 1;
					color: rgb(59 130 246 / var(--tw-text-opacity));
				}
			}
		}
	}
</style>
